<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="styles.css" />
  <title>Vue Todo</title>
</head>

<body>
    
    <div id="app">
        <h1>A List of Things To Do</h1>
        <p v-show="activeTodos.length === 0">
            You've completed all your tasks!
        </p>
        <!--Not other stuff...
                v-on allows you to press enter to update :) 
                .prevent keeps the page from completely refreshing.
                        it will just update with the methods w/in 
        -->
        <form v-on:submit.prevent="addItem">
            <input type="text" v-model="message">
            <button type="submit">Add</button>
        </form>
        <div class="controls">
            <button v-on:click="showAll()">Show All</button>
            <button v-on:click="showActive()">Show Active</button>
            <button v-on:click="showCompleted()">Show Completed</button>
            <button v-on:click="deleteCompleted()">Delete Completed</button>
        </div>
        <ul>
            <!--<li v-for="item in filteredTodos">
                dragstart = move item
                dragover.prevent = drop...?
            -->
            <li v-for="item in filteredTodos" 
                draggable="true"
                v-on:dragstart="dragItem(item)"
                v-on:dragover.prevent 
                v-on:drop="dropItem(item)">

                <!-- to check off date -->
                <input type="checkbox" v-model="item.completed">
                <label v-bind:class="{ completed: item.completed } ">
                        {{ item.text }}</label>
                <!--
                <label> {{ item.text }} </label>
                -->
                
                <!-- Delete button -->
                <button v-on:click="deleteItem(item)" class="delete">X</button>
            </li>
        </ul>
    </div>
    
    
    <!--For Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script text="type/javascript" src="script.js"></script>
</body>
</html>
